@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
    font-family: "Urbanist", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden !important;
    background-color: #141414;
}


@layer components  {
    .button-text {
        @apply text-[1.4rem] font-medium leading-[1.5rem] text-white
    }

    .title {
        @apply text-[2.8rem] font-semibold leading-[1.2] text-white xl:text-[4.6rem]
    }

    .about {
        @apply text-[1.4rem] font-medium leading-[1.5] text-[#999] mt-[1.6rem] xl:text-[1.6rem] xl:mt-[2rem]
    }

    .result-container {
        @apply flex flex-col items-center justify-center gap-[0.5rem] w-full h-[9.1rem] rounded-[0.8rem] bg-[#1a1a1a] 
        border-solid border-[0.1rem] border-[#1a1a1a] xl:items-start xl:pl-[2.5%] xl:gap-[1rem]
    }

    .people-amount {
        @apply text-[2.4rem] font-bold leading-[1.5rem] text-white
    }

    .result {
        @apply text-[1.6rem] font-medium leading-[1.5] text-[#999]
    }

    .opportunities-container {
        @apply w-[95.5%] flex flex-wrap justify-center gap-[1rem] p-[1rem] rounded-[1.2rem] bg-[#141414] 
        border-1 border-[#262626] ring-4 ring-[#191919] mx-auto mt-[4rem] max-w-[50rem]
        xl:w-full xl:max-w-[280rem] xl:mt-0 xl:ring-6
    }

    .opportunity-container {
        @apply w-[48%] h-[14.4rem] flex flex-col items-center pt-[2rem] px-[1.4rem] gap-[1.4rem] rounded-[1rem]
        border-1 border-[#262626] bg-[#1a1a1a] relative xl:w-[24.4%] 
    }

    .opportunity-text {
        @apply text-[1.4rem] font-semibold leading-[1.5] text-[#fff] text-center xl:text-[1.6rem]
    }

    .opportunity-img {
        @apply xl:w-[6rem] xl:h-[6rem]
    }

    .arrow {
        @apply absolute top-[2.5rem] right-[2.4rem]
    }

    .feature-container {
        @apply w-[12.3rem] h-[3.3rem] flex justify-center items-center gap-[0.4rem] bg-[#1a1a1a] rounded-[28px] 
        border-1 border-[#262626] xl:mt-[2.4rem] xl:w-[32%]
    }

    .feature-text {
        @apply text-[1.4rem] font-medium leading-[1.5] text-[#fff]
    }

    .arrow-container {
        @apply w-[4.4rem] h-[4.4rem] rounded-[69px] bg-[#1a1a1a] border-1 border-[#262626]
        flex justify-center items-center
    }

    .after-box {
        @apply flex justify-between border-t-1 border-t-[#262626] py-[1.6rem] mt-[3rem]
    }

    .after-box-btn {
        @apply w-[15.5rem] py-[1.4rem] rounded-[8px] bg-[#1a1a1a] border-1 border-[#262626] 
        text-[1.4rem] font-semibold leading-[1.5] text-white
    }
}